body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
  min-height: 100vh;
}

.storage-card {
  padding: 10px;
  border-radius: 3.5rem;
  background: rgba(15, 15, 15, 0.5);
  background: rgba(245, 245, 245, 0.03);
  background: linear-gradient(
    111.83deg,
    rgba(150, 150, 150, 0.539) 10.85%,
    rgba(181, 181, 181, 0.609) 60.46%
  );

  border: 1px solid rgb(208, 208, 208);
  height: fit-content;
}

.storage-card-0 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0 1px 2px rgba(255, 255, 255, 0.4),
    inset 0 -1px 2px rgba(0, 0, 0, 0.3);
}

.card-body {
  background-blend-mode: color-dodge;
  background: rgba(15, 15, 15, 0.5);
  background: rgba(245, 245, 245, 0.03);
  background: linear-gradient(
    131.83deg,
    rgba(150, 150, 150, 0.539) 10.85%,
    rgba(0, 23, 32, 0.609) 60.46%
  );

  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);

  border-radius: 3rem;
  padding: 2rem;
  width: fit-content;
  color: white;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  margin: 1px;
}

.card-body-0 {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0 1px 2px rgba(255, 255, 255, 0.4),
    inset 0 -1px 2px rgba(0, 0, 0, 0.3);
}

/* .card-body-1 {
  box-shadow: 0px 2px 4px 0px rgba(255, 255, 255, 0),
    inset 0 1px 2px rgba(255, 255, 255, 0.4),
    inset 0 -1px 2px rgb(0, 0, 0);
} */

.left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.storage-details-title {
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
}

.storage-usage {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.storage-amount {
  font-size: 3rem;
  font-weight: 600;
  color: white;
  line-height: 1;
  margin: 0;
}

.storage-total {
  font-size: 1.25rem;
  font-weight: 500;
}

.progress-bar-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 9999px;
  height: 0.7rem;
  padding: 0.1rem;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
}

.progress-bar-fill {
  border: 0.58px solid rgba(255, 255, 255, 0.2);
  height: 90%;
  border-radius: 9999px;
}

.progress-bar-fill-0 {
  background: linear-gradient(to bottom, #ff3535 0%, #d41212 50%, #ab0f0f 100%),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.05) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: 0 2px 15px rgba(248, 50, 50, 0.833),
    inset 0 1px 2px rgba(255, 255, 255, 0.4),
    inset 0 -1px 2px rgba(0, 0, 0, 0.3);
}

.progress-bar-fill-1 {
  background: linear-gradient(to right, #4caf50 0%, #2e7d32 100%),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.05) 50%,
      rgba(255, 255, 255, 0) 100%
    );
}

.device-icon-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.device-icon {
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.4));
}

.device-image {
  width: 170px;
  margin: 0px 1rem;
}
